@charset "UTF-8";
body {
  font-family: Franklin Gothic Medium;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #add8e6 url(BI/KG.png) no-repeat center 100px fixed;
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background: url(BI/1-1.png) center top repeat-x; 
   background:
   url(BI/dot.png) left top repeat-y,
   url(BI/dot.png) right top repeat-y
  background-color: #00087b;
}

a {
  text-decoration: none;
}
a:link {
  color: #939;
}

h1 {
  font: bold 1.7em Georgia, serif;
  text-shadow: .10em .10em .1em lightslategray;
  color: #ffcccb;
}
h2 {
   font-family: Comic Sans MS;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #c60;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#info p {
  font-style: italic;
  color: #ffcccb;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}